In [ ]:
minhaLista = [76, 92.3, "oi", True, 4, 76]
minhaLista.append('pitomba')
minhaLista.reverse()
print(minhaLista)
minhaLista.insert(3, "Cibele")
print(minhaLista)
minhaLista.insert(0, 99)
print(minhaLista)

minhaLista.remove(True)
print(minhaLista)



minhaLista.index("oi")

['pitomba', 76, 4, True, 'oi', 92.3, 76]
['pitomba', 76, 4, 'Cibele', True, 'oi', 92.3, 76]
[99, 'pitomba', 76, 4, 'Cibele', True, 'oi', 92.3, 76]
[99, 'pitomba', 76, 4, 'Cibele', 'oi', 92.3, 76]

5

In [ ]:
dicio = {'chave': 'valor'}

print(type(dicio))

<class 'dict'>

In [ ]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}
d['bananas']
d['pitomba'] = 20
d['pitomba']
len(d)
d
'pitomba' in d

del d['laranjas']

'laranjas' in d

False

In [ ]:
frutas = ['pinha', 'oiti coró', 'jaca', 'tamarindo']
print([1,2]+[3,4])
print(frutas + [6,7,8,9])

print([0] *4)

print([1,2, ['oi', 'tchau']] * 2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]