In [ ]:
nome = "camila"
idade = 35
altura = 1.70
print(type(nome))
print(type(idade))
print(type(altura))

<class 'str'>
<class 'int'>

In [1]:
nome = "labradorzinho"
idade = 20
print(f"ol치, {nome}")

ol치, labradorzinho

In [2]:
idade1 = 14
idade2 = 25

somaIdades = idade1 + idade2
print(somaIdades)

39

In [3]:
idade1 = 24
idade2 = 35

print(idade1 - idade2 )
print(idade1 * idade2 )
print(idade1 / idade2 )

-11
840
0.6857142857142857

In [4]:
print(idade1 + 10 )
print(idade1 - 15 )
print(idade1 * 4 )
print(idade1 / 5 )

34
9
96
4.8

In [5]:
print(2 *(idade1 + idade2))
print(2 * idade1 + 3 *  idade2 / 4)
print((2 * idade1 + 3 *  idade2) / 4)

118
74.25
38.25

In [6]:
print(idade1 ** 2)
print(15 ** 2)

576
225

In [7]:
print(idade2 // idade1)
print(idade2 / idade1)

1
1.4583333333333333

In [8]:
print(idade2 % idade1)

11

In [9]:
nome = "Camila"
sobrenome = "Dantas"
print(nome + " " + sobrenome)

Camila Dantas

In [10]:
print(f'Ol치, {nome} voce tem {idade1 + 15} anos.')

Ol치, Camila voce tem 39 anos.